<h2>Editar Tarefa</h2>
<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <!-- Campo Nome -->
  <mat-form-field appearance="outline" class="campo-largura-total">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="name" required maxlength="100" minlength="1">
    <mat-error *ngIf="taskForm.get('name')?.invalid && taskForm.get('name')?.touched">
      Nome é obrigatório (1-100 caracteres).
    </mat-error>
  </mat-form-field>

  <!-- Campo Descrição -->
  <mat-form-field appearance="outline" class="campo-largura-total">
    <mat-label>Descrição</mat-label>
    <textarea matInput formControlName="description" required minlength="1"></textarea>
    <mat-error *ngIf="taskForm.get('description')?.invalid && taskForm.get('description')?.touched">
      Descrição é obrigatória.
    </mat-error>
  </mat-form-field>

  <!-- Campo Horas Planejadas -->
  <mat-form-field appearance="outline" class="campo-largura-total">
    <mat-label>Horas Planejadas</mat-label>
    <input matInput type="number" formControlName="planned_hours" required>
    <mat-error *ngIf="taskForm.get('planned_hours')?.invalid && taskForm.get('planned_hours')?.touched">
      Horas planejadas devem ser um número.
    </mat-error>
  </mat-form-field>

  <!-- Campo Status -->
  <mat-form-field appearance="outline" class="campo-largura-total">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option *ngFor="let s of statusOptions" [value]="s.value">{{ s.viewValue }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Campo Responsável -->
  <mat-form-field appearance="outline" class="campo-largura-total">
    <mat-label>Responsável</mat-label>
    <input matInput type="number" formControlName="owner" required>
    <mat-error *ngIf="taskForm.get('owner')?.invalid && taskForm.get('owner')?.touched">
      ID do responsável é obrigatório.
    </mat-error>
  </mat-form-field>

  <div class="secao-comentarios">
    <h3>Comentários</h3>

    <!-- Lista de Comentários -->
    <div *ngFor="let comment of comments" class="comentario">
      <div class="cabecalho-comentario">
        <span class="autor">Usuário {{ comment.user }}</span>
      </div>
      <p class="texto-comentario">{{ comment.note }}</p>

      <!-- Ações de Edição -->

    </div>

    <!-- Novo Comentário -->
    <div class="novo-comentario">
      <h3>Adicionar Comentário</h3>
      <textarea [formControl]="newComment" placeholder="Digite seu comentário..."></textarea>
      <button (click)="adicionarComentario()" [disabled]="newComment.invalid">
        Adicionar Comentário
      </button>
    </div>
  </div>


  <!-- Botão Salvar -->
  <button mat-raised-button color="primary" type="submit" [disabled]="taskForm.invalid" class="btn-salvar">
    Salvar Alterações
  </button>
</form>
